[submodule "resources/docs/1.0"]
	path = resources/docs/1.0
	url = https://github.com/lukepolo/laracart-docs.git
	branch = 1.0
[submodule "resources/docs/master"]
	path = resources/docs/master
	url = https://github.com/lukepolo/laracart-docs.git
	branch = master
